.container {
  font-size: $fz;
  > .title {
    font-size: $fz;
    line-height: 2.5;
    border-bottom: 1px solid $linec;
    margin-bottom: 10px;
    > span {
      display: inline-block;
      padding-left: 5px;
      border-left: 2px solid $c;
      line-height: 1;
    }
  }
  > .intro {
    font-size: $fzs;
    margin-bottom: 1em;
  }
  .type-switch {
    position: absolute;
    top: .2rem;
    right: 10%;
    font-size: 12px;
    height: 2.5em;
    width: 21em;
    background: #eee;
    border-radius: 1.25em;
    > span {
      position: relative;
      display: block;
      float: left;
      width: 33.3333%;
      line-height: 2.5;
      text-align: center;
      cursor: pointer;
      z-index: 1;
      transition: color .2s ease-in-out;
      &.select {
        color: #fff;
      }
      &.bgc {
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        background-color: #f56c6c;
        border-radius: 1.25em;
        transition: transform .2s ease-in-out;
      }
    }
  }
}